<%- include('partials/header') -%>
    <div id="blogs">
        <div class="container">
            <div class="intro">
                <div class="jumbotron">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <h1>WELCOME TO MY BLOG APP!</h1>
                            <p class="lead">Welcome to my simple blog app where I showcase my Nodejs/Bootstrap/Express//MongoDB skills.</p>
                        </div>
                        <div class="col-12">
                            <p>The app is fully responsive. Soon Authentication and Authorization will be implemented.</p>
                            <a class="btn btn-light" href="/blogs/new" role="button">Add New Blog</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cards">
                <div class="row">
                    <% blogs.forEach(function(blog) { %>
                        <div class="col-sm-6 p-5">
                            <div class="card">
                            <img src="<%= blog.image %>" class="card-img-top" alt="...">
                              <div class="card-body">
                                <h5 class="card-title"><a href="/blogs/<%= blog._id %>"><%= blog.title %></a></h5>
                                <h6 class="card-subtitle mb-2 text-muted"><%= blog.created.toDateString() %></h6>
                                <p class="card-text"><%- blog.body.substring(0, 100) %></p>
                                <a href="/blogs/<%= blog._id %>" class="btn btn-primary">Read More</a>
                              </div>
                            </div>
                        </div>
                    <% }) %>
                  </div>
            </div>
        </div>
    </div>
<%- include('partials/footer') -%>
